<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- <p- style p> -->
    </head>
    <body>
        <%- include('_header'); %> 

        <%- body %>

        <%- include('_footer'); %> 

        <!-- <p- script p>  -->
    </body>
</html>