header{
    display: flex;
    background-color: #1285f7;
    justify-content: space-between;
    padding-right: 50px;

    p{
        margin-left: 1vw;
        font-size: 1.6rem;
        font-family:Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        border-radius: 10px;
    }

    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 12vw;

        li{
            margin-top: 1vh;
            height: 3vh;
            // padding: 2px;
            width: 5vw;
            text-align: center;
            border-radius: 10px;
            border: 1px solid white;
        }

        a{
            text-decoration: none;
            font-family: Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.2rem;
            color: white;
        }
    }
}